*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navegacion{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    position: absolute;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: space-around;
    position: fixed;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  .menu > li {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: space-around;
  }
  .menu > li > a{
    display: block;
    padding: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
  }
  .menu li a:hover{
    color: #8f959a;
    transition: all .3s;
  }
  .submenu{
    top: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 1;
  }
  .submenu li a{
    background-color: rgb(251, 251, 251);
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .menu li:hover .submenu{
    width: 270px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
  }


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #5f838d; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #5f838d; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #5f838d; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #5f838d; 
  border-color: #020d32; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #5f838d;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


.pie{
    background-color: rgb(10, 9, 9);
    padding-top: 80px;
    padding-bottom: 80px;
  
  }
  .grande{
    color: red;
    font-size: 150px;
    text-align: center;
  }
  .pequeño{
    color: red;
    text-align: center;
  }
  .botoncito{
    display: flex;
    justify-content: center;
  }
  .pie2{
    background-color: #020d32;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    padding-left: 20px;
  }
  .letra{
    padding-right: 20px;
  }
  .letra2{
    width: 600px;
  }
  .pie3{
    background-color: #020d32;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
  }
  b{
    font-size: 8rem;
    position: absolute;
    }
    .one{
    color: rgb(0, 0, 0);
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
     1px  1px 0 black,
    -1px  1px 0 black;
    }
    .one2{
    color: #0f3ADA;
    animation: wave 3s ease-in-out infinite; 
    }
    @keyframes wave{
    0%, 100%{
       clip-path: polygon(
        0%  47%,
        10%  48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
       );
    }
    50%{
      clip-path: polygon(
        0%  60%,
        15%  65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
       );
    }
    }
    .letre a{
      color: rgb(255, 255, 255);
    }
    .letra2 a{
      color: rgb(255, 255, 255);
    }
    .studii{
      text-align: center;
      width: 30px;
      color: #fff;
      font-size: 30px;
    }
    .textito {
      color: #fff;
      font-size: 20px;
      text-align: center;
    }
    .icone{
      font-size: 30px;
      float: left;
      padding: 6px;
      color: #fff;
    }
    .icone :hover{
      color: #5f838d;
    
    }

